<app-header title="Compras"></app-header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid   pb-4">
       

        <div class="card mt-lg-3 border-0 mb-7">
            <app-modal [orderForm]="true" modalId="modal" buttonName="Nueva compra" (emitData)="newValue($event)" class="col  ms-2 text-sm-end"></app-modal>
            <app-table [colNames]="columnNames" [columns]="columns" [report]="true" [rowData]="orderList" [orderModal]="true" [operations]="op" (onEdit)="edit($event)" (onDelete)="delete($event)"></app-table>

        </div>
    </div>


</main>