body,
html {
    height: 100%;
}
* {
    box-sizing: border-box;
  }
.jumbotron {

    background: linear-gradient(to right, #151515, #2c2e34);
    background-size: cover;
}

// .box{
//     background-color: rgb(0,0,0); /* Fallback color */
//     background-color: rgba(0,0,0, 0.4); 
// }

.imagePreview{
    width: 200px;
}