<div class="jumbotron">
    <div class="box d-flex align-items-center justify-content-center vh-100">
        <div class="col-md-4 col-9 mx-auto ">
            <div class="imagePreview container">
                <img src="images/fogon.png" alt="fogon" class="img-fluid" data-toggle="tooltip" data-placement="top" title="Helados CALI">
              </div>
            <div class="card border-0 shadow-none p-3 mb-5 bg-light rounded">
                <div class="card-header px-lg-5">
                    <div class="card-heading text-primary">
                        <div class="form-group fit container">
                        </div>
                        <h3 class="text-center primary">Recuperar Contraseña</h3>
                    </div>
                </div>
                <div class="card-body ">
                    @if (!hideContent) {
                    <p class="text-muted text-sm">Introduce el correo.</p>
                    <form (ngSubmit)="reset()" [formGroup]="passwordForm">
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" id="email" type="email" formControlName="email"
                                placeholder="Correo" maxlength="40">
                            <label for="email">Correo</label>
    
                            @if (passwordForm.get('email')?.touched && passwordForm.get('email')?.errors?.['required']) {
                            <div class="alert mt-3 alert-danger">El correo es requerido</div>
                            }
                            @if (passwordForm.get('email')?.touched && passwordForm.get('email')?.errors?.['minlength']) {
                            <div class="alert mt-3 alert-danger">El correo debe de tener minimo
                                {{passwordForm.get('email')?.errors?.['minlength'].requiredLength}} caracteres</div>
                            }
    
                        </div>
                        @if (error) {<div class="alert alert-danger mb-3 px-1">{{message}}</div>}
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-secondary btn-lg w-100" type="button"
                                    (click)="goBack()">Volver</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary w-100 btn-lg" type="submit"
                                    [disabled]="passwordForm.invalid || isSubmiting">Recibir Codigo</button>
                            </div>
                        </div>
                    </form>
                    }
                    @else{
                        <p class="text-muted text-sm">Introduce el código y la contraseña.</p>
                    <form (ngSubmit)="resetPassword()" [formGroup]="recoveryForm">
                        <div class="form-floating mb-3 form-group">
                            <label for="code" class="col-form-label py-1 px-2">Código</label>
                            <input class="form-control" id="code" type="code" formControlName="code"
                                placeholder="Código" maxlength="15">
    
                            @if (recoveryForm.get('code')?.touched && recoveryForm.get('code')?.errors?.['required']) {
                            <div class="alert mt-3 alert-danger">El código es requerido</div>
                            }
                            @if (recoveryForm.get('code')?.touched && recoveryForm.get('code')?.errors?.['minlength']) {
                            <div class="alert mt-3 alert-danger">El código debe de tener minimo
                                {{recoveryForm.get('code')?.errors?.['minlength'].requiredLength}} caracteres</div>
                            }
                            <div class="mb-3 form-floating form-group col">
                                <label for="password" class="col-form-label py-1 px-2">Contraseña:</label>
                                <input type="password" class="form-control" id="password" formControlName="password" maxlength="40">
                                @if (recoveryForm.get('password')?.touched && recoveryForm.get('password')?.errors?.['required']) {
                                    <div class="alert mt-3 alert-danger">La Contraseña es requerida.</div>
                                }
                               
                                  @if (recoveryForm.get('password')?.touched && recoveryForm.get('password')?.errors?.['minlength']) {
                                    <div class="alert mt-3 alert-danger">La contraseña debe de tener mínimo
                                        {{recoveryForm.get('password')?.errors?.['minlength'].requiredLength}} caracteres.</div>
                                  }
                                  
                              </div>
                              <div class="mb-3 form-floating form-group col">
                                <label for="password2" class="col-form-label py-1 px-2">Confirmar contraseña:</label>
                                <input type="password" class="form-control" id="pass" formControlName="password2" maxlength="40">
                                @if (recoveryForm.get('password2')?.touched && recoveryForm.get('password2')?.errors?.['required']) {
                                    <div class="alert mt-3 alert-danger">La Contraseña es requerida.</div>
                                }
                                @if (recoveryForm.get('password2')?.touched && recoveryForm.get('password2')?.errors?.['minlength']) {
                                    <div class="alert mt-3 alert-danger">La contraseña debe de tener mínimo
                                  {{recoveryForm.get('password2').errors?.['minlength'].requiredLength}} caracteres.</div>
                                }
                                @if (recoveryForm.get('password2').touched && recoveryForm.get('password2').value !== recoveryForm.get('password').value) {
                                    <div class="alert mt-3 alert-danger">Ambas contraseñas deben de ser iguales.</div>
                                }
                                  
                              </div>
    
                        </div>
                        <div class="alert alert-info mb-3 px-1">{{recoveryForm.get('password').value}} {{recoveryForm.get('code').value}} {{passwordForm.get('email').value}}</div>
                        @if (error) {<div class="alert alert-danger mb-3 px-1">{{message}}</div>}
                        <div class="row">
                           <div class="col">
                            <button class="btn btn-secondary btn-block w-100" type="button" (click)="goBack()">Volver</button>
                           </div>
                           <div class="col">
                            <button class="btn btn-primary btn-block w-100" type="submit"
                                [disabled]="recoveryForm.invalid || isSubmiting || recoveryForm.get('password2').value !== recoveryForm.get('password').value">Reiniciar Clave</button>
                           </div>
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>