<header class="bg-surface-primary mt-2 mb-2">
    <div class="container-fluid align">
        <div class="mb-npx">
            <div class="row align-items-center">
    
                    <h2 class="text-red pt-5 mt-3 text-center"><span class="default-white white h2 bg-text">{{title}}</span></h2>
 
                <div class="col-sm-6 col-12 text-sm-end tt">
                    <div class="mx-n1">
                    </div>
                </div>
            </div> <!-- Nav -->
            <ul class=" overflow-x border-0">
            </ul>
        </div>
    </div>
</header>