<ng-container>
    @if (getRol() !== DELIVERY_MAN) {
        <button type="button" (click)="openFormModal()" class="btn btn-primary me-2 mt-2">
            {{buttonName}} <i class="fa fa-solid fa-plus"></i>
        </button>
    }



    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-sm-start">
                <div class="modal-header border-1">
                    <h3 class="modal-title" id="exampleModalLabel">
                        @if (userForm) {
                            REGISTRAR NUEVO EMPLEADO
                            }
                            @if (clientForm) {
                            REGISTRAR NUEVO CLIENTE
                            }
        
                            @if (productForm) {
                            <ng-container>
                                REGISTRAR NUEVO PRODUCTO
                            </ng-container>
                            }
                            @if (saleForm) {
                            <ng-container>
                                REGISTRAR PEDIDO 
                            </ng-container>
                            }
                            @if (orderForm) {
                            <ng-container>
                                REGISTRAR COMPRA 
                            </ng-container>
                            }
                            @if (complaintForm) {
                                <ng-container>
                                    REGISTRAR NUEV&#64; RECOMENDACIÓN/RECLAMO
                                </ng-container>
                                }
                                @if (tablesForm) {
                                    <ng-container>
                                        ASIGNAR MESA
                                    </ng-container>
                                    }
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-justify">
                    <h5 class="mb-3">Introduzca los datos del nuevo registro</h5>
                    @if (userForm) {
                    <userform (emitForm)="emitUser($event)" [userData]="data"></userform>
                    }
                    @if (clientForm) {
                    <clientform (emitForm)="emitUser($event)" [userData]="data"></clientform>
                    }

                    @if (productForm) {
                    <ng-container>
                        <productform (emitForm)="emitUser($event)" [data]="data"></productform>
                    </ng-container>
                    }
                    @if (saleForm) {
                    <ng-container>
                        <saleform (emitForm)="emitUser($event)" [data]="data"></saleform>
                    </ng-container>
                    }
                    @if (orderForm) {
                    <ng-container>
                        <orderform (emitForm)="emitUser($event)" [data]="data"></orderform>
                    </ng-container>
                    }
                    @if (complaintForm) {
                        <ng-container>
                            <complaintform (emitForm)="emitUser($event)" [data]="data"></complaintform>
                        </ng-container>
                        }
                        @if (tablesForm) {
                            <ng-container>
                                <tablesaleform (emitForm)="emitUser($event)" [data]="data"></tablesaleform>
                            </ng-container>
                            }


                    <!-- <ng-container *ngIf="inventoryForm">
                            <inventoryform (emitForm)="emitUser($event)" [data]="data"></inventoryform>
                        </ng-container> -->


                </div>

            </div>
        </div>
    </div>
</ng-container>