<app-header title="Empleados"></app-header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid   pb-4">


        
       
        <div class="card mt-lg-3 border-0 mb-7">
            <div class="container d-flex justify-content-between row" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                <div class="btn-group mt-2 mb-1" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label #all class="btn btn-sm btn-outline-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" (click)="setFilter('all')" for="btnradio1">Todos</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-sm btn-outline-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" for="btnradio2" (click)="setFilter('gerente')">Gerentes</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-sm btn-outline-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" for="btnradio3" (click)="setFilter('cajero')">Cajeros</label>
    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-sm btn-outline-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" for="btnradio4" (click)="setFilter('repartidor')">Repartidores</label>
                  </div>
                  <div class=" text-end">
                    <button class="btn btn-dark btn-sm mt-2 me-2" (click)="reload()">
                        <div class="icon icon-shape dark text-white text-lg rounded-circle">
                            <i class="fa-solid fa-arrows-rotate "></i>
                        </div>
                    </button>
                    <app-modal [userForm]="true" modalId="modal" buttonName="Nuevo empleado" (emitData)="newValue($event)" class="col text-sm-end"></app-modal>
                </div>
                  
            </div>
            
            <app-table [colNames]="columnNames" [columns]="columns" [userModal]="true" [rowData]="userData"
                [operations]="op" (onEdit)="editUser($event)" (onDelete)="deleteUser($event)"></app-table>

        </div>
    </div>


</main>