<form (ngSubmit)="sendData()" [formGroup]="dataForm">
    <div class="row">
        <div class="mb-3 form-floating form-group col">
            <span class="">Seleccione un producto:</span>
            <ng-select class="custom" formControlName="item" placeholder="Selecciona el producto" [clearable]="false"
                [closeOnSelect]="true" [searchable]="true" (change)="add($event)" [clearSearchOnAdd]="true"
                notFoundText="Producto no encontrado">
                @for (item of inventoryList; track item.id) {
                <ng-option [value]="item.id"><img src="{{baseURL}}/{{item.image}}" width="20px" height="20px" />
                    {{item.name}} {{item.price}}$</ng-option>
                }
            </ng-select>
            <div *ngIf="dataForm.get('item')?.touched && dataForm.get('item')?.errors?.['required']"
                class="alert mt-3 alert-danger">El artículo es requerido.</div>
        </div>
        <!-- <div class="mb-3 form-floating form-group col">
            <label for="quantity" class="col-form-label py-1">Cantidad:</label>
            <input type="number" class="form-control" id="quantity" formControlName="quantity">
            <div *ngIf="dataForm.get('quantity')?.touched && dataForm.get('quantity')?.errors?.['required']"
                class="alert mt-3 alert-danger">La cantidad es requerida.</div>
            <div *ngIf="dataForm.get('quantity')?.touched && dataForm.get('quantity')?.errors?.['min']"
                class="alert mt-3 alert-danger">
                La cantidad debe de ser mayor o igual a 0.</div>
        </div> -->
    </div>

    <div class="row">
        @for (i of selectedItems; track $index) {

        <section class="col me-2">

            <div class="row justify-content-start">
                <div class="col list-group-item">
                    <div class="card widget-card border-dark-subtle shadow-sm mb-2 ms-2">
                        <div class="card-body ps-3 pe-3">
                            <div class="row">
                                <div class="col"
                                    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <h6 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                                        class="card-title widget-card-title mb-2 text-uppercase text-break">
                                        {{i.name}}</h6>
                                </div>
                                <div class="col-auto">
                                    <p style="cursor: pointer;" (click)="removeItem(i)"
                                        class=" badge bg-danger rounded-pill"><i class="fa-solid fa-xmark "></i></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <div
                                                        class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-between me-3">
                                                        <div>
                                                            <img src="{{baseURL}}/{{i.image}}" alt="{{i.name}}"
                                                                class="square">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <h6>{{i.price}}$</h6>
                                                    @if (i.stock === 0) {<p class="text-danger m-0 fs-7">Stock
                                                        actual: {{i.stock}}</p>}
                                                    @if (i.stock > 0 && i.stock<5) { <p class="text-warning m-0 fs-7">
                                                        Stock actual: {{i.stock}}</p>}
                                                        @if (i.stock > 5) {<p class="text-success m-0 fs-7">Stock
                                                            actual: {{i.stock}}</p>}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="">




                                        <div class="row d-flex justify-content-between text-center mt-1">
                                            <div class="col">
                                                <button class="btn btn-warning" type="button"
                                                    (click)="minus(i)">-</button>


                                            </div>
                                            <div class="col">
                                                <p>{{i.quantity}}</p>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary" type="button"
                                                    (click)="plus(i)">+</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        }
    </div>

    <!-- <div class="mb-3 form-floating form-group col mt-0">
        <span class="">Selecciona un cliente:</span>
            <div class=" col mt-1">
                <ng-select 
                class="custom"
                formControlName="client" 
                placeholder="Selecciona el cliente"
                [clearable]="false" 
                [closeOnSelect]="true" 
                [searchable]="true" 
                [clearSearchOnAdd]="true"
                notFoundText="cliente no encontrado">
                    @for (client of clientList; track client.id) {
                        <ng-option [value]="client.id">{{client.firstname}} {{client.lastname}}</ng-option>
                    }
                </ng-select>
            </div>
        <div *ngIf="dataForm.get('client')?.touched && dataForm.get('client')?.errors?.['required']"
            class="alert mt-3 alert-danger">El cliente es requerido.</div>
    </div> -->

    <div class="row mt-3">
        <div class="mb-1 form-floating form-group col">
            <div class="mb-2 form-floating form-group col">
                <label for="paymentMethod" class="col-form-label py-1">Método de pago:</label>
                <select class="form-select" (change)="clearCode()" aria-label="Seleccion de Rol" name="paymentMethod"
                    id="paymentMethod" formControlName="paymentMethod">
                    <option selected value="">Selecciona un método de pago</option>
                    <option value={{methods.Cash}}>{{methods.Cash}}</option>
                    <option value={{methods.Mobile}}>{{methods.Mobile}}</option>
                    <option value={{methods.Transfer}}>{{methods.Transfer}}</option>
                </select>
                <div *ngIf="dataForm.get('paymentMethod')?.touched && dataForm.get('paymentMethod')?.errors?.['required']"
                    class="alert mt-3 alert-danger">El método de pago es requerido.</div>
            </div>
        </div>
        @if (dataForm.value.paymentMethod !== methods.Cash || "") {
        <div class="mb-1 form-floating form-group col">
            <label for="pay_code" class="col-form-label py-1  px-4"
                aria-placeholder="Ultimos 4 digitos del codigo de referencia">Código de referencia (últimos 4
                digitos):</label>
            <input type="text" class="form-control" id="pay_code" formControlName="pay_code" maxlength="4"
                appOnlynumbers>
            <div class="alert mt-3 alert-danger"
                *ngIf="dataForm.get('paymentMethod')?.value !== methods?.Cash && dataForm.get('pay_code')?.value?.length !== 4 && dataForm.get('pay_code')?.touched">
                Debes introducir un codigo de referencia con 4 digitos</div>
            <div class="alert mt-3 alert-danger" *ngIf="dataForm.get('pay_code')?.hasError('maxlength')">El código debe
                de tener maximo 4 caracteres</div>
        </div>
        }
    </div>
    <div class="row mb-1">
        @if (dataForm.get('paymentMethod').value === methods.Mobile) {

        <div class="col">
            <img src="images/banesco.png" alt="banesco" data-toggle="tooltip" data-placement="right" title="0134">
            <br>
            Cedúla: <strong>24567132</strong>
            <br>
            Telefono: <strong>04124325912 </strong>
        </div>
        }
        @if (dataForm.get('paymentMethod').value === methods.Transfer) {
        <div class="row mb-1">
            <div class="col">
                <img src="images/banesco.png" alt="banesco" data-toggle="tooltip" data-placement="right" title="0134">
                <br>
                Cuenta: <strong>01349573238000098326</strong>
            </div>
        </div>
        }
    </div>
    @if (selectedItems.length>0) {
    <div class="row">
        <div class="mb-3 mt-1 form-floating form-group col">
            <label for="total" class="col-form-label py-1 px-4">Total:</label>
            <input type="text" class="form-control" style="font-weight: bold;" [value]="total.toFixed(2)+'$'" id="total" disabled>
        </div>
        <!-- <div class="mb-3 mt-1 form-floating form-group col">
                @if (total>=60) {
                    <label for="total" class="col-form-label py-1 px-4">Total + Delivery Gratis:</label>
                    <input type="number" class="form-control" [value]="total.toFixed(2)" id="total" disabled>
                }
                @else if (total<60 && total>=30) {
                    <label for="total" class="col-form-label py-1 px-4">Total + 2$ de Delivery:</label>
                    <input type="number" class="form-control" [value]="(total+2).toFixed(2)" id="total" disabled>
                }
                @else {
                    <label for="total" class="col-form-label py-1 px-4">Total + 4$ de Delivery:</label>
                    <input type="number" class="form-control" [value]="(total+4).toFixed(2)" id="total" disabled>
                }
                
            </div> -->
    </div>
    }
    <span *ngIf="error" class="text-danger px-1">{{error}}</span>
    <div class="py-2"></div>
    <div class="modal-footer  d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
        </button>

        <button type="button" class="btn btn-primary" type="submit"
            [disabled]="dataForm.invalid || selectedItems.length < 1 || sending">
            @if (sending) {
            <span role="status">Asignando mesa...</span>
            <span class="spinner-border spinner-border-sm ms-1" aria-hidden="true"></span>
            }
            @else {

            <span role="status">Asignar mesa</span>
            }
        </button>
    </div>
</form>