
.content {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.1)), url("../../../../assets/images/back3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: #cccccc;
    background-attachment: fixed; 
}

