<app-header title="Clientes"></app-header>

<main class="py-6 bg-surface-secondary">
    <div class="container-fluid   pb-4">
       
        <div class="card shadow-none mt-lg-3 border-0 mb-7">
            <app-modal [clientForm]="true" buttonName="Nuevo cliente" modalId="modal" (emitData)="newValue($event)" class="col ms-2 text-sm-end"></app-modal>
            
            
            @if (loading) {
                <div class="spinner-grow text-dark text-center container mt-2 mb-2" style="width: 5rem; height: 5rem;" role="status">
                    <span class="visually-hidden">Cargando...</span>
                  </div>
                  <span class="text-dark text-center mb-4">Cargando...</span>
            }
            @else {
                <app-table [colNames]="columnNames" [columns]="columns" [clientModal]="true" [rowData]="userData"
                [operations]="op" (onEdit)="editUser($event)" (onDelete)="deleteUser($event)"></app-table>
            }
            
            

        </div>
    </div>


</main>