@if (!hideSearch) {
<div class="form-group mt-2 container-fluid ">

    <div class="input-group input-group-lg">
        <div class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" class="form-control" name="search" placeholder="Buscar..." [(ngModel)]="search">
        @if (search) {
        <button (click)="clean()" class="btn btn-outline-dark border-left-0 border" type="button">
            <i class="fa fa-times"></i>
        </button>
        }

    </div>

</div>
}
<div class="table-responsive" id="tablee">
    <table class="table table-hover table-nowrap">
        <thead class="table-dark">
            @if (rowData.length > 0) {
            <tr>

                @for (name of colNames; track $index) {
                @if (name==='idd') {
                <th scope="col" style="display:none;">{{name | uppercase}}</th>
                }
                @else {
                <th scope="col">{{name | uppercase}}</th>
                }
                }
                @if (operations.delete || operations.edit) {
                <th></th>
                }

            </tr>
            }
            @else {
            <th class="text-center"></th>
            }
        </thead>
        <tbody>
            @if (rowData.length > 0;) {
            @for (row of rowData | filter: search | paginate: { itemsPerPage: 10, currentPage: p}; track $index) {
            <tr>
                @for (name of columns; track $index) {
                @if (name==='idd') {
                <td style="display:none;">#{{[row[name]]}}</td>
                }
                @else {
                <td class="td"
                    [class]="(name==='status' || name==='complaintStatus') ? getStyle(row[name]) : 'table-default'">
                    {{[row[name]]}}
                    @if (showConfirm && name==='status' && row['status']===status.COMPLETED && getRol() === CLIENT
                    && row['delivered']!== CONFIRMED_BY_CLIENT) {
                    <div class="container">
                        <div class="row">
                            <span class="badge btn col text-bg-success text-center"
                                (click)="confirmOrder(row)">Confirmar entrega</span>
                            <app-dialog (emitData)="orderConfirm($event)" [userConfirm]="true"
                                header="Confirmar entrega de pedido" [row]="row" [id]="row.id"
                                message="Presione aceptar para confirmar la entrega"></app-dialog>
                        </div>
                    </div>
                    }
                    @if (name==='status' && row['status']===status.INCOMPLETE) {
                    <div class="row justify-content-center">
                        @if (getRol() === ADMIN || getRol() === MANAGER || getRol() === CASHIER ) {
                        <span type="button" (click)="open(-row.id)"
                            class="badge text-bg-dark text-center align-self-center col-5 text-white text-primary-hover">
                            <i class="fa-regular fa-pen-to-square"></i>Aprobar
                        </span>
                        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [id]="-row.id"
                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-sm-start">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">CONFIRMAR PEDIDO</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <h5 class="mb-3">Confirmar pago y asignacion de repartidor</h5>
                                        <editsaleform (emitForm)="edit($event)" [data]="row"></editsaleform>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span type="button" (click)="cancel(row)"
                            class="badge text-bg-danger text-center ms-1 col-5 text-white text-white-hover">
                            <i class="fa-regular fa-pen-to-square"></i>Rechazar
                        </span>
                        <app-dialog (emitData)="userCancel($event)" [clientCancel]="true"
                            header="¿Deseas cancelar este pedido?" [row]="row" [id]="row.id"
                            message="Presione cancelar para cancelar el pedido"></app-dialog>
                        }
                    </div>
                    @if (getRol() === CLIENT && clientCanCancel) {
                    <div class="row justify-content-center">
                        <span type="button" class="badge text-bg-danger mx-auto text-center col-8 align-self-center"
                            (click)="cancel(row)"> <i class=" text-center align-self-center"></i>Cancelar
                            pedido</span>
                    </div>
                    <app-dialog (emitData)="userCancel($event)" [clientCancel]="true"
                        header="¿Deseas cancelar este pedido?" [row]="row" [id]="row.id"
                        message="Presione cancelar para cancelar el pedido"></app-dialog>
                    }
                    }

                    @if (name==='complaintStatus' && row['complaintStatus']===ComplaintStatus.WAITING) {
                    <div class="row justify-content-center">
                        @if (getRol() === ADMIN || getRol() === MANAGER) {
                        <span type="button" (click)="open(-row.id)"
                            class="btn btn-sm text-bg-neutral btn-secondary col text-info text-center col-8 text-info-hover">
                            <i class="fa-regular fa-pen-to-square"></i>Responder
                        </span>
                        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [id]="-row.id"
                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-sm-start">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Responder reclamo</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-justify">
                                        <h5 class="mb-3">Responder reclamo</h5>
                                        <complaintform [edit]="true" (emitForm)="edit($event)" [data]="row">
                                        </complaintform>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                    </div>

                    }

                    @if(name==='status' && row['status']===status.WAITING){
                    @if (getRol() === ADMIN || getRol() === MANAGER || getRol() === DELIVERY_MAN) {
                    <div class="row">
                        <div class="col text-center">
                            <span type="button" (click)="confirm(row.id,row.delivery_man_id)"
                                class="badge text-bg-success text-center text-bg-info text-info-hover">
                                <i class="fa-solid fa-truck"></i>Confirmar entrega
                            </span>
                        </div>
                    </div>
                    <app-dialog (emitData)="confirmm($event)" header="¿Deseas confirmar la entrega de este pedido?"
                        [row]="row" [id]="row.id"
                        message="Presione aceptar para confirmar la entrega del pedido"></app-dialog>
                    }
                    }
                </td>
                }
                }

                <td class="text-end">
                    @if (operations.delete || operations.edit || operations.show || report) {


                    @if ((operations.edit || operations.show) && getRol() !== CLIENT) {
                    <ng-container>

                        @if (operations.show) {
                        <span type="button" (click)="open(row.id)"
                            class="btn btn-sm btn-square btn-neutral text-dark text-dark-hover">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        }
                        @else if (operations.edit) {
                        <span type="button" (click)="open(row.id)"
                            class="btn btn-sm btn-square btn-neutral text-warning text-success-hover">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </span>
                        }




                        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [id]="row.id"
                            tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content text-sm-start">
                                    <div class="modal-header">
                                        @if (operations.edit) {
                                        <h3 class="modal-title" id="exampleModalLabel">Editar</h3>
                                        }
                                        @else if (operations.show) {
                                        <h3 class="modal-title" id="exampleModalLabel">Registro #{{row.id}}</h3>
                                        }
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-justify">
                                        @if (operations.edit) {
                                        <h5 class="mb-3">Edite los datos del nuevo registro</h5>
                                        }
                                        @else if (operations.show) {
                                        <!-- <h5 class="mb-3">  </h5> -->
                                        }

                                        @if (userModal) {
                                        <ng-container>
                                            <userform (editUser)="edit($event)" [userData]="row"></userform>
                                        </ng-container>
                                        }

                                        @if (clientModal) {
                                        <ng-container>
                                            <clientform (editUser)="edit($event)" [userData]="row"></clientform>
                                        </ng-container>
                                        }


                                        @if (productModal) {
                                        <ng-container>
                                            <productform (emitForm)="edit($event)" [data]="row"></productform>
                                        </ng-container>
                                        }

                                        @if (orderModal) {
                                        <ng-container>
                                            <orderform (emitForm)="edit($event)" [show]="operations.show" [data]="row">
                                            </orderform>
                                        </ng-container>
                                        }

                                        @if (saleModal) {
                                        <ng-container>
                                            <h5 class="mb-3">Datos del pedido:</h5>
                                            <editsaleform (emitForm)="edit($event)" [show]="operations.show"
                                                [data]="row"></editsaleform>
                                            <!-- <saleform (emitForm)="edit($event)" [data]="row"></saleform> -->
                                        </ng-container>
                                        }


                                        @if (complaintModal) {
                                        <ng-container>
                                            <h5 class="mb-3">Datos del reclamo:</h5>
                                            <complaintform (emitForm)="edit($event)" [show]="operations.show"
                                                [data]="row"></complaintform>
                                            <!-- <saleform (emitForm)="edit($event)" [data]="row"></saleform> -->
                                        </ng-container>
                                        }



                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-container>
                    }
                    @else {
                    @if (operations.show && getRol() === CLIENT) {
                    <button type="button" (click)="open(row.id)"
                        class="btn btn-sm btn-square btn-neutral text-info text-success-hover">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" [id]="row.id"
                        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content text-sm-start">
                                <div class="modal-header">
                                    @if (operations.edit) {
                                    <h3 class="modal-title" id="exampleModalLabel">Editar</h3>
                                    }
                                    @else if (operations.show) {
                                    <h3 class="modal-title" id="exampleModalLabel">Registro #{{row.id}}</h3>
                                    }
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-justify">
                                    @if (operations.edit) {
                                    <h5 class="mb-3">Edite los datos del nuevo registro</h5>
                                    }
                                    @else if (operations.show) {
                                    <!-- <h5 class="mb-3">  </h5> -->
                                    }

                                    @if (userModal) {
                                    <ng-container>
                                        <userform (editUser)="edit($event)" [userData]="row"></userform>
                                    </ng-container>
                                    }

                                    @if (clientModal) {
                                    <ng-container>
                                        <clientform (editUser)="edit($event)" [userData]="row"></clientform>
                                    </ng-container>
                                    }



                                    @if (productModal) {
                                    <ng-container>
                                        <productform (emitForm)="edit($event)" [data]="row"></productform>
                                    </ng-container>
                                    }

                                    @if (orderModal) {
                                    <ng-container>
                                        <orderform (emitForm)="edit($event)" [show]="operations.show" [data]="row">
                                        </orderform>
                                    </ng-container>
                                    }

                                    @if (saleModal) {
                                    <ng-container>
                                        <h5 class="mb-3">Datos del pedido:</h5>
                                        <editsaleform (emitForm)="edit($event)" [show]="operations.show" [data]="row">
                                        </editsaleform>
                                        <!-- <saleform (emitForm)="edit($event)" [data]="row"></saleform> -->
                                    </ng-container>
                                    }


                                    @if (complaintModal) {
                                    <ng-container>
                                        <h5 class="mb-3">Datos del reclamo:</h5>
                                        <complaintform (emitForm)="edit($event)" [show]="operations.show" [data]="row">
                                        </complaintform>
                                        <!-- <saleform (emitForm)="edit($event)" [data]="row"></saleform> -->
                                    </ng-container>
                                    }



                                </div>

                            </div>
                        </div>
                    </div>
                    }
                    }

                    @if (operations.delete && getRol() !== CLIENT) {
                    <button type="button" class="btn btn-sm btn-square btn-neutral text-danger text-danger-hover mx-1"
                        (click)="delete(row)"> <i class="fa-solid fa-xmark"></i></button>
                    }

                    <app-dialog (emitData)="deleteRow($event)" [delete]="true" header="¿Deseas eliminar este registro?"
                        [row]="row" [id]="row.id" message="Presione Eliminar para confirmar la eliminación"></app-dialog>
                    @if (saleModal && report) {
                    <ng-container>
                        <reportgenerator [isSale]="true" [id]="row.id"></reportgenerator>
                    </ng-container>
                    }
                    @if (orderModal && report) {
                    <ng-container>
                        <reportgenerator [isPurchase]="true" [id]="row.id"></reportgenerator>
                    </ng-container>
                    }

                    }
                </td>
            </tr>
            }
            }
            @else {
            <tr>
                <td class="text-center">No hay registros</td>
            </tr>
            }



        </tbody>
    </table>
</div>
@if (rowData.length > 0) {
<div class="card-footer border-0 ">
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" [autoHide]="true" [directionLinks]="true" [responsive]="true"
            previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Paginación"
            screenReaderPageLabel="pagina" screenReaderCurrentLabel="Estas en la pagina"
            class="ngx-pagination custom-pagination"></pagination-controls>
    </div>
    <div class="text-right">
        @if (rowData.length > 0) {
        <strong class="font-weight-bold text-muted" style="font-size: small;">Mostrando
            {{rowData.length}}
            registros.
        </strong>
        }
    </div>
</div>
}